.footer {
    background-color: $color-footer-bg;

    &__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        max-width: 120rem;
        margin: 0 auto;
        padding: 1.5rem 0 1.5rem 0;
        opacity: 0.4;

        @media only screen and (max-width: 1200px) {
            max-width: 85vw; 
        }

        &--logo {
            padding: 2rem 0 2rem 0;

            & img {
                width: 11.5rem;
            }
        }

        &--copyright {
            padding: 2.2rem 0 2rem 0;
            color: $color-footer-text;
            font-size: 1.2rem;
            letter-spacing: -0.21px;
        }
    }
}