.header {
    position: absolute;
    top: 13.2rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    max-width: 120rem;
    width: 100%;
    height: calc(100% - 13.2rem);

    @media only screen and (max-width: 1200px) {
       max-width: 85vw; 
    }

    &-content {
        position: absolute;
        left: 0;
        top: calc(50% - 6.6rem);
        transform: translateY(-50%);

        &__greeting {

            &--hi {
                font-size: 3.2rem;
                font-weight: bold;
                letter-spacing: -0.5px;
                color: $color-header-text;
                margin-right: 1.1rem;
            }

            &--hand img {
                width: 3.8rem;
            }
        }

        &:hover &__greeting--hand img {
            animation: handWave 0.4s ease-in-out 2;
        }

        @keyframes handWave {
            0% {transform: rotateZ(0deg); transform-origin: 70% 100%;}
            50% {transform: rotateZ(25deg); transform-origin: 70% 100%;}
            100% {transform: rotateZ(0deg); transform-origin: 70% 100%;}
        }

        &__heading {
            color: $color-header-text;
        }

        &__subheading {
            color: $color-header-text;
        }

        &__description {
            font-size: 2rem;
            color: rgba($color-header-text, 0.6);
            width: 48.2rem;
            margin-top: 2.9rem;

            & p:first-child {
                padding-bottom: 2.4rem;
            }
        }
    }

    &__button {
        margin-top: 3rem;
    }
}