$color-social-bar-icon: #c22f15;
$color-social-bar-icon-hover: #fff;
$color-social-bar-bg: #1a0e17;

$color-header-text: #fff;
$color-arrow-down: #fff;

$color-main-bg: #f5f5f5;
$color-section-heading: #343434;

$color-btn-text: #fff;
$color-btn-header-bg: #c22f15;
$color-btn-header-bg-hover: #ce5944;
$color-btn-main-bg: #006fff;
$color-btn-main-bg-hover: #338cff;

$color-caption: #fff;

$color-end-msg: #343434;

$color-footer-bg: #343434;
$color-footer-text: #fff;